<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_year %>
    <%= form.number_field :start_year %>
  </div>

  <div class="field">
    <%= form.label :end_year %>
    <%= form.number_field :end_year %>
  </div>

  <div class="field">
    <%= form.label :codename %>
    <%= form.text_field :codename %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= image_tag @group.cover.url, width: 200 if @group.cover.url != nil %>

  <div class="field">
    <%= form.label :cover %>
    <%= form.file_field :cover %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
